<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TeamStay</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h1>Welcome to TeamStay</h1>
    </header>